<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>

<body>

  <header id="header"></header>

  <main>
    <table>
      <thead>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
      </tr>
      </thead>

      <tbody>
        <tr>
          <td>첫 글</td>
          <td>Rko</td>
          <td>2023-01-01</td>
        </tr>
        <tr>
          <td>두번째 글</td>
          <td>Rko</td>
          <td>2023-01-02</td>
        </tr>
        <tr>
          <td>세번째 글</td>
          <td>Rko</td>
          <td>2023-01-03</td>
        </tr>
      </tbody>
    </table>
  </main>

  <footer id="footer"></footer>
</body>
</html>