<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="jinhyeok">

        <title>Notice</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>

    <body>
        <header id="header">
            헤더 삽입부
            <hr>
        </header>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">글쓴이</th>
                <th scope="col">등록일자</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="board : ${boardList}">
                <th scope="row">[[${board.id}]]</th>
                <td><a th:href="@{/board/noticeBoardDetail/{id}(id=${board.id})}">
                    [[${board.title}]] </a>
                </td>
                <td >글쓴이</td><!--TODO 유저 테이블에서 글쓴이 받아와서 넣어야됨-->

                <td>[[${board.registeredDate}]]</td>
            </tr>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn btn-primary"
                    onclick="location.href='/board/noticeBoardForm'">등록하기
            </button>
        </div>
        <br>
        <footer id="footer">
            <hr>
            푸터 삽입부
        </footer>
    </body>

</html>