<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}">
<th:block layout:fragment="content">
    <div class="card text-center">
        <!--       <div><p>[[${noticeBoard.id}]]</p></div> -->
        <div><h5>[[${noticeBoard.title}]]</h5></div>
        <div>
            <p>haribo [[${noticeBoard.registeredDate}]]</p>
        </div>

        <div>
            <p>[[${noticeBoard.content}]]</p>
        </div>


        <th:block layout:fragment="comment">
            <form th:action="@{/noticeBoard/noticeBoardDetail/{id}(id=${noticeBoard.id})}" method="post">
                <input type="hidden" name="id" id="id"/>

                <div class="mb-3">
                    <label for="content" class="form-label"></label>
                    <textarea class="form-control"
                              name="content"
                              id="content"
                              rows="3"
                              placeholder="댓글을 입력해 주세요 ">
                            </textarea>
                    <button type="submit" class="btn btn-primary">댓글작성</button>
                </div>
                <div><br></div>
            </form>
        </th:block>


    </div>
    <div class="mt-2">
        <button type="button" class="btn btn-primary" onclick="location.href='/noticeBoard/noticeBoardList'">목록</button>

        <button type="button"
                th:onclick="|location.href='@{/noticeBoard/noticeBoardFormEdit/{id}(id=${noticeBoard.id})}'|"
                class="btn btn-secondary">수정
        </button>

        <button type="button" th:onclick="|location.href='@{/noticeBoard/noticeBoardDelete/{id}(id=${noticeBoard.id})}'|"
                class="btn  btn-danger">삭제
        </button>

    </div>
    <div><br></div>
</th:block>
</html>