<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Chan">
  <title>회원가입</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="/css/member.css" rel="stylesheet">
  <script src="/js/member.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<header id="header">
  헤더 삽입부
  <hr>
</header>

<div class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>회원가입</h4>
    </div>
  </div>
  <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="mb-3">
      <label for="memberId" class="form-label">사용자ID</label>
      <input id="memberId" type="text" th:field="*{memberId}" class="form-control">
      <button type="button" class="btn btn-primary btn-sm" onclick="checkId()">중복체크</button>
      <span class="id_ok">사용 가능한 아이디입니다.</span>
      <span class="id_invalid">잘못된 형식 입니다.</span>
      <span class="id_already">이미 사용중인 아이디입니다.</span>
    </div>
    <div class="mb-3">
      <label for="memberPassword" class="form-label">비밀번호</label>
      <input id="memberPassword" type="password" th:field="*{memberPassword}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="memberPassword2" class="form-label">비밀번호 확인</label>
      <input id="memberPassword2" type="password" th:field="*{memberPassword2}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">이름</label>
      <input id="name" type="text" th:field="*{name}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">휴대폰</label>
      <input id="phone" type="number" th:field="*{phone}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="term" class="form-label">개인 정보 이용 약관 (필수) </label>
      <input id="term" type="checkbox" th:field="*{term}"/>
    </div>

    <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>

<footer id="footer">
  <hr>
  푸터 삽입부
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>