<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yeonhee">

    <title>FAQ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/css/faq.css" rel="stylesheet">
    <script src="/js/faq.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header id="header">
    헤더 삽입부
    <hr>
</header>
    <div id="layout-content">
    <!--등록  버튼-->
    <div id = "register-button-section">
        <a th:href="@{/faq/register}">
            <button type="button" class="btn btn-primary" id = "register-btn" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                등록
            </button>
        </a>
    </div>

    <div class="list">
        <!-- 탭 바 -->
        <div class="list-tab">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <button class="nav-link active" id = "ALL" onclick="tab_click(id, -1)" aria-current="page">전체</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id = "PAYMENT" onclick="tab_click(id, 0)" >결제/취소</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id = "INQUIRY" onclick="tab_click(id, 1)" >이용문의</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id = "ETC" onclick="tab_click(id, 2)" >기타문의</button>
                </li>

            </ul>
        </div >

        <!-- 게시글 목록 영역 -->
        <div class="list-article">
            <div class="list-article-section" id = "FaqListContentByType">
                <tr th:each="faq, faqState: ${faqList}">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        th:onclick="accordion_click(this)">
                                    <span th:text="'[' + ${faq.type.description} + ']       '"></span>
                                    <span th:text="${faq.title}"></span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    [[${faq.content}]]
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </div>

        </div>
    </div>
</div>
    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>
</body>

</html>