<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<div id="FaqListContentByType">

    <tr th:each="faq, faqState: ${faqList}">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            th:onclick="accordion_click(this)">
                        <span th:text="'[' + ${faq.type.description} + ']       '"></span>
                        <span th:text="${faq.title}"></span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        [[${faq.content}]]
                    </div>
                </div>
            </div>
        </div>
    </tr>

</div>

</html>