<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<div id="FaqListContentByType">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">카테고리</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="faq, faqState : ${faqList}">
            <th scope="row">[[${faqState.index+1}]]</th>
            <td>[[${faq.type.description}]]</td>
            <td>[[${faq.title}]]</td>
            <td>[[${faq.content}]]</td>
            <td>[[${faq.registeredDate}]]</td>
        </tr>
        <!-- 게시물 데이터가 없는경우 -->
        <tr th:if="${faqList.getTotalElements() == 0}">
            <td colspan="3">게시물이 존재하지 않습니다.</td>
        </tr>
        </tbody>
    </table>

</div>

</html>