<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/faq-layout}">

<th:block layout:fragment="content">

    <form th:action="'/faq/register'" method="post">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                   th:name ="type" th:value="0" checked>
            <label class="btn btn-outline-primary" for="btnradio1">결제/취소</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                   th:name ="type" th:value="1">
            <label class="btn btn-outline-primary" for="btnradio2">이용문의</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                   th:name ="type" th:value="2">
            <label class="btn btn-outline-primary" for="btnradio3">기타문의</label>
        </div>


        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control"
                   name="title" id="title"
                   th:name="title"
                   placeholder="게시글의 제목">
        </div>
        <div class="mb-3">
            <label for="contents" class="form-label">내용</label>
            <textarea class="form-control"
                      name="contents"
                      id="contents"
                      rows="3"
                      th:name="content"
                      placeholder="게시글의 내용">

            </textarea>
        </div>

        <button type="submit" class="btn btn-primary" th:onclick="register_faq()" >저장</button>
        <button type="button" th:onclick="'history.back();'"  class="btn btn-primary">취소</button>
    </form>


</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        // 현재 버튼 id
        var prev_selected_typd_id = "btnradio1";
        var cur_selected_typd_id = "btnradio1";
        var selected_type = 1;

        function select_type(id) {
            if(id ==  prev_selected_typd_id)
                return;

            document.getElementById(prev_selected_typd_id).removeAttribute("th:name");
            var numStr = id.substr("btnradio".length);
            selected_type = Number(numStr)-1;
            document.getElementById(id).setAttribute("th:name", "type");
            document.getElementById(id).setAttribute("th:value", selected_type);
            prev_selected_typd_id = cur_selected_typd_id;
            cur_selected_typd_id = id;
        }

        function register_faq(){
            alert("저장되었습니다.");
        }
    </script>
</th:block>
</html>