
#layout-content{
    margin: 20px;
    justify-content: center;
}

#register-button-section{
    width: 100%;
    height: 30px;
}

#register-btn{
    float: right;
}

#collapseOne{
    background-color: #f0f6ff;
    width: 100%;
}